:root{
    --font-style: Abril;

    --font-size-button: 30px;
    --font-size-title: 44px;

    --colour-text-primary: #007F5F;
    --colour-text-primary-hover: #55A630;
    --colour-primary: #AACC00;
    --colour-background: #DDDDDD;
}
