@import "../Consts.css";

.ButtonPrimary{
    background-color: var(--colour-text-primary-hover);
    font-size: var(--font-size-button);
    color: var(--colour-white);
    border: solid var(--colour-white);
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1%;
}
