@import '../Consts.css';

.ClickableText {
    color: var(--colour-text-primary);
    font-size: var(--font-size-button);
    cursor: pointer;
    text-decoration: underline;
    margin-left: 4%;
}

.ClickableText:hover{
    color: var(--colour-text-primary-hover);
}
